.user-dialog-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  float: right;
  width: 270px;
  height: 50%;
  margin-right: 20px;
  color:#0a3d62 ;


  background-color:#82ccdd;
  border-radius: 10px;
}

.dia-gr{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin-top: 15px;
}

.dia-bar {
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding: 0 20px;
  font-size: 0.95rem;

}

.dia-bar:hover {
  color: #fff;
  text-decoration: underline;
  font-weight: 600;
}
