ul {
  list-style-type: none;
}


.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  border: 1px solid red;
}

.left-navbar {
  display: flex;
  background-color: aqua;
  width: 50%;

  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
}

.right-navbar{
  display: flex;
  width: 50%;

  flex-direction: row;
  justify-content: flex-end;
  background-color: blueviolet;
  justify-items: center;
}

